<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>  
<h1>Velkommen <%= user.name %></h1>
  <h2>Kommende Events</h2>

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Pris (kr.)</th>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
      </tr>
    </thead>
    <tbody>
      <% if (events.length > 0) { %>
        <% events.forEach(event => { %>
          <tr>
            <td><%= event.Navn %></td>
            <td><%= event.Pris %></td>
            <td><%= event.Dato %></td>
            <td><%= event.Start %></td>
            <td><%= event.Slut %></td>
            <td>
                <button class="buyBtn" data-id="<%= event.OplevelseID %>">Køb</button>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr><td colspan="5">Ingen events fundet.</td></tr>
      <% } %>
    </tbody>
  </table>

  <br>
  <a href="/">Til forsiden</a> 
  <button id="logoutBtn" type="button">Log ud</button>

    <script src="/javascripts/logout.js"></script>
    <script src="/javascripts/order.js"></script>
  
</body>
</html>
